<div class="container p-4">
    <div class="row">
        <div class="col-md-4 my-auto mx-auto">
            <div class="card">
                <div class="card-body">
                    <div class="container p-1 text-center"> <h2>DEPARTAMENTO</h2> </div>
                    <form class="row g-3"  action="/inicio/departamento/editd/{{departamento.iddepartamento}}"  method="POST">
                        
                        <div class="form-group p-1">
                            <div class="col text-center">
                                <label for="validationDefault02" class="form-label">Nombre</label>
                          <input type="text" class="form-control" id="validationDefault01" value="{{departamento.depnombre}}" name="depnombre" placeholder="Nombre" required>
                        </div>
                        </div>
                        
                        <div class="form-group p-1">
                            <div class="col text-center">
                          <label for="validationDefault04" class="form-label">Sucursal</label>
                          <select class="form-select" id="validationDefault04" name="sucursal" required>
                            <option selected disabled value="{{departamento.sucursal}}">Escoger Sucursal</option>
                            {{#each sucursal}}
                                <option value={{idsucursal}}>{{snombre}}</option>
                                {{/each}}
                          </select>
                        </div>

                        </div>
                        
                        

                        <div class="form-group p-1 text-center">
                            <div class="col-12">
                          <button class="btn btn-primary" type="submit">Actualizar departamento</button>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>